body {
    background-color: #121212;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding-bottom: 100px;
}

a {
    color: #E50914;
    text-decoration: none;
}

a:hover {
    color: #ff3333;
}

.card {
    background-color: #1e1e1e;
    border: none;
    border-radius: 12px;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card:hover {
    transform: scale(1.03);
}

.card-title {
    font-size: 0.95rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0.4rem;
}

.card-text {
    font-size: 0.85rem;
    color: #cccccc;
}

.card-img-top {
    border-radius: 12px 12px 0 0;
    height: 320px;
    object-fit: cover;
}

.form-control,
.form-select {
    background-color: #1e1e1e;
    color: #fff;
    border: 1px solid #444;
}

input::placeholder {
    color: #999;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

::placeholder {
    color: #ccc !important;
    opacity: 1;
}

.form-control:focus::placeholder {
    color: #bbb;
}

.modal-content.bg-dark .btn-close {
    filter: invert(1);
    /* Turns black icon to white */
}